<zk>
	<window hflex="1" vflex="1">
		<vbox hflex="1" vflex="1">
			<space />
			<hbox hflex="1" vflex="1">
				<space />
				<vbox hflex="min" vflex="1">
					<grid id="grdSearch" vflex="1" width="200px"
						sclass="input-field">
						<rows>
							<row valign="middle">
								<radiogroup>
									<radio id="rdoHospital"
										height="20px" label="Hospital" selected="true"
										style="font-weight:bold;" />
									<space />
									<radio id="rdoDoctor" height="20px"
										label="Doctor" style="font-weight:bold;" />
								</radiogroup>
							</row>
							<row>
								<textbox id="txtName" hflex="1" />
							</row>
							<row>
								<label value="Hospital Type" />
							</row>
							<row>
								<combobox id="txtHospitalType"
									hflex="1" />
							</row>
							<row>
								<label value="Owner Type" />
							</row>
							<row>
								<combobox id="txtOwnerTypeIndex"
									hflex="1" />
							</row>
							<row>
								<label value="Specialist" />
							</row>
							<row>
								<combobox id="txtSpecialist" hflex="1" />
							</row>
							<row>
								<label value="Regency" />
							</row>
							<row>
								<combobox id="txtRegency" hflex="1" />
							</row>
							<row>
								<label value="Province" />
							</row>
							<row>
								<combobox id="txtProvince" hflex="1" />
							</row>
							<row>
								<label value="Room Class" />
							</row>
							<row>
								<grid id="grdRoomClass" />
							</row>
						</rows>
					</grid>
					<button id="btnSearch" hflex="1" label="Search" />
				</vbox>
				<space />
				<vbox hflex="1" vflex="1">
					<vlayout hflex="1" vflex="1"
						style="overflow:auto;overflow-x:hidden;">
						<grid id="grdResult" hflex="1"
							sclass="input-field" />
					</vlayout>
					<paging id="pgnResult" />
				</vbox>
				<space />
			</hbox>
			<space />
		</vbox>
	</window>
</zk>