<zk>
	<window vflex="1">
		<vbox vflex="1">
			<hbox align="center">
				<button id="btnSave" label="Save" />
				<button id="btnClose" label="Close" />
			</hbox>
			<tabbox vflex="1">
				<tabs>
					<tab label="Profile" />
					<tab label="Doctor Schedule" />
					<tab label="Rating" />
				</tabs>
				<tabpanels>
					<tabpanel>
						<vlayout vflex="1" style="overflow:auto;">
							<grid id="pnlGenerator"
								sclass="input-field" />
						</vlayout>
					</tabpanel>
					<tabpanel>
						<div id="zulSchedule" hflex="1" vflex="1" />
					</tabpanel>
					<tabpanel>
						<div id="zulDoctorRating" hflex="1" vflex="1" />
					</tabpanel>
				</tabpanels>
			</tabbox>
		</vbox>
	</window>
</zk>