<zk>
	<window hflex="1" vflex="1">
		<tabbox id="tabEntity" hflex="1" vflex="1">
			<tabs>
				<tab label="Gallery" />
			</tabs>
			<tabpanels>
				<tabpanel>
					<borderlayout>
						<north>
							<hbox align="center" hflex="1">
								<button id="btnAdd" label="Add" />
								<button id="btnEdit" label="Edit" />
								<button id="btnDelete" label="Delete" />
								<space hflex="1" />
								<textbox id="txtKeyword"
									sclass="txtKeyword" />
							</hbox>
						</north>
						<center>
							<listbox id="tblEntity" hflex="1" vflex="1" />
						</center>
						<south>
							<paging id="pgnEntity" />
						</south>
					</borderlayout>
				</tabpanel>
			</tabpanels>
		</tabbox>
	</window>
</zk>