<zk>
	<window vflex="1" title="My Profile">
		<vbox vflex="1">
			<hbox align="center">
				<button id="btnSave" label="Save" />
			</hbox>
			<vlayout vflex="1" style="overflow:auto;">
				<grid id="pnlGenerator" sclass="input-field" />
			</vlayout>
		</vbox>
	</window>
</zk>