body {
     background: url('../img/5b2726073adee359ba5a08ab1d3ca6a0.jpg');
     background-size: 1366px 768px;
     background-repeat:no-repeat;
}
.container {
  width:40%;
  margin: 0 auto;
#  padding-right: 15px;
#  padding-left: 15px;
#  margin-right: auto;
#  margin-left: auto;
}