<zk>
	<window hflex="1" vflex="1">
		<vbox hflex="1" vflex="1">
			<space />
			<hbox hflex="1" vflex="1">
				<space />
				<window id="winSearch" vflex="1">
					<vbox hflex="min" vflex="1">
						<grid vflex="1" width="200px"
							sclass="input-field">
							<rows>
								<row>
									<textbox id="txtName" hflex="1" />
								</row>
								<row>
									<label value="Tourism Type" />
								</row>
								<row>
									<listbox id="lstTourismType" />
								</row>
								<row>
									<label value="Regency" />
								</row>
								<row>
									<combobox id="txtRegency" hflex="1" />
								</row>
								<row>
									<label value="Province" />
								</row>
								<row>
									<combobox id="txtProvince"
										hflex="1" />
								</row>
							</rows>
						</grid>
						<button id="btnSearch" hflex="1" label="Search" />
					</vbox>
				</window>
				<space />
				<window id="winTourismSite" hflex="1" vflex="1"
					style="background:#EFFFEF;">
					<vlayout hflex="1" vflex="1"
						style="overflow:auto;overflow-x:hidden;">
						<space height="10px" />
						<vbox align="center" hflex="1">
							<hbox>
								<image id="imgPhoto" height="200px" />
								<space />
								<vbox align="center">
									<space height="10px" />
									<hbox id="boxRating"
										sclass="starRating" />
									<label id="txtName"
										style="font-size:30px;" />
									<label id="txtTourismType"
										style="font-size:18px;" />
									<a
										popup="popupAddress,position=after_start">
										<label id="txtRegency" />
										<label value=", " />
										<label id="txtProvince" />
										<popup id="popupAddress"
											width="200px">
											<label id="txtAddress" />
										</popup>
									</a>
									<label id="txtPhone" />
									<a id="txtEmail" />
									<a id="txtWebsite" />
								</vbox>
							</hbox>
							<space bar="true" orient="horizontal"
								hflex="1" />
							<hbox>
								<image height="100px" width="100px"
									src="img/TS01A.jpg" />
								<image height="100px" width="100px"
									src="img/TS01B.jpg" />
								<image height="100px" width="100px"
									src="img/TS01C.jpg" />
								<image height="100px" width="100px"
									src="img/TS01D.jpg" />
								<image height="100px" width="100px"
									src="img/TS01E.jpg" />
								<image height="100px" width="100px"
									src="img/TS01F.jpg" />
								<image height="100px" width="100px"
									src="img/TS01G.jpg" />
								<image height="100px" width="100px"
									src="img/TS01H.jpg" />
								<image height="100px" width="100px"
									src="img/TS01I.jpg" />
								<image height="100px" width="100px"
									src="img/TS01J.jpg" />
							</hbox>
							<space bar="true" orient="horizontal"
								hflex="1" />
							<hbox hflex="1">
								<space />
								<vbox align="start" hflex="1">
									<label id="txtReview"
										style="font-size:18px;" />
									<label id="txtHistory"
										style="font-size:18px;" />
									<label id="txtAdvice"
										style="font-size:18px;" />
									<label id="txtTransport"
										style="font-size:18px;" />
									<vbox align="center" hflex="1">
									</vbox>
								</vbox>
								<space />
							</hbox>
						</vbox>
						<space height="10px" />
					</vlayout>
				</window>
				<space />
			</hbox>
			<space />
		</vbox>
	</window>
</zk>